{% extends "plantilla.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container text-center mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">Proyecto #1</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>
                  Proyecto para Practicar la construccion de una aplicacion
                  web en Django
                </p>
                <footer class="blockquote-footer">
                  Proyecto CRUD1
                  <cite title="Source Title">Posicion 1 portafolio</cite>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock  %}